<div>
  <div>
    <h2>
      Add a new trip
    </h2>

    <hr>

    <%= form_with url: insert_trip_path, method: :post, id: "trip_form" do %>
      <div>
        <label for="owner_id_box">Owner</label>
        <%= text_field_tag :query_owner_id, nil, id: "owner_id_box" %>
      </div>

      <div>
        <label for="description_box">Description</label>
        <%= text_area_tag :query_description, nil, id: "description_box", rows: 3 %>
      </div>

      <div>
        <label for="arrival_date_box">Arrival date</label>
        <%= date_field_tag :query_arrival_date, nil, id: "arrival_date_box" %>
      </div>

      <div>
        <label for="departure_date_box">Departure date</label>
        <%= date_field_tag :query_departure_date, nil, id: "departure_date_box" %>
      </div>

      <div>
        <label for="title_box">Title</label>
        <%= text_field_tag :query_title, nil, id: "title_box" %>
      </div>

      <div>
        <label for="activity_box">Activity</label>
        <%= text_field_tag :query_activity, nil, id: "activity_box" %>
      </div>

      <div>
        <%= check_box_tag :query_published, 1, false, id: "published_box" %>
        <label for="published_box">Published</label>
      </div>

      <%= submit_tag "Create trip", name: "commit" %>
      <%= submit_tag "Ask ChatGPT to plan", name: "commit", formaction: ask_chatgpt_path %>
      <%= link_to "Clear Inputs", clear_trip_form_path, class: "button" %>
    <% end %>
  </div>
</div>
