<div>

<figure>
  <blockquote class="blockquote">
    <p class="mb-0">“I haven’t been everywhere, but it’s on my list.”</p>
  
  </blockquote>
  <figcaption class="blockquote-footer">
    Susan Sontag
  </figcaption>
</figure>

  <div>
    <h1 class="display-1 text-center">
      Trip Feed
    </h1>
  </div>

  <figure>
  <blockquote class="blockquote text-end">
    <p class="mb-0">“Vacation calories don’t count. Right?”</p>
  
  </blockquote>
  <figcaption class="blockquote-footer text-end">
    Everyone
  </figcaption>
</figure>

</div>

<hr>

<div>
  <div>
    <table class="table table-hover">
      <tr>
        <th>
          Trip #
        </th>

        <th>
          Owner
        </th>

        <th>
          Description
        </th>

        <th>
          Arrival date
        </th>

        <th>
          Departure date
        </th>

        <th>
          Title
        </th>

        <th>
          Activity
        </th>

        <th>
          Published
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trips.each do |a_trip| %>
        <tr>
          <td>
            <%= a_trip.id %>
          </td>

          <td>
            <%= a_trip.owner.email %>
          </td>

          <td>
            <%= a_trip.description %>
          </td>

          <td>
            <%= a_trip.arrival_date %>
          </td>

          <td>
            <%= a_trip.departure_date %>
          </td>

          <td>
            <%= a_trip.title %>
          </td>

          <td>
            <%= a_trip.activity %>
          </td>

          <td>
            <%= a_trip.published %>
          </td>

          <td>
            <%= time_ago_in_words(a_trip.created_at) %> ago
          </td>
          <td>
            <%= time_ago_in_words(a_trip.updated_at) %> ago
          </td>

          <td>
            <a href="/trips/<%= a_trip.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
