<div>
  <div>
    <h1>
      List of all trips
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new trip
    </h2>

    <%= form_with url: insert_trip_path, method: :post, id: "trip_form" do %>
      <div>
        <label for="owner_id_box">Owner</label>
        <%= text_field_tag :query_owner_id, nil, id: "owner_id_box" %>
      </div>

      <div>
        <label for="description_box">Description</label>
        <%= text_area_tag :query_description, nil, id: "description_box", rows: 3 %>
      </div>

      <div>
        <label for="arrival_date_box">Arrival date</label>
        <%= date_field_tag :query_arrival_date, nil, id: "arrival_date_box" %>
      </div>

      <div>
        <label for="departure_date_box">Departure date</label>
        <%= date_field_tag :query_departure_date, nil, id: "departure_date_box" %>
      </div>

      <div>
        <label for="title_box">Title</label>
        <%= text_field_tag :query_title, nil, id: "title_box" %>
      </div>

      <div>
        <label for="activity_id_box">Activity</label>
        <%= text_field_tag :query_activity_id, nil, id: "activity_id_box" %>
      </div>

      <div>
        <%= check_box_tag :query_published, 1, false, id: "published_box" %>
        <label for="published_box">Published</label>
      </div>

      <%= submit_tag "Create trip", name: "commit" %>
      <%= submit_tag "Ask ChatGPT to plan", name: "commit", formaction: ask_chatgpt_path %>
    <% end %>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Owner
        </th>

        <th>
          Description
        </th>

        <th>
          Arrival date
        </th>

        <th>
          Departure date
        </th>

        <th>
          Title
        </th>

        <th>
          Activity
        </th>

        <th>
          Published
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_trips.each do |a_trip| %>
        <tr>
          <td>
            <%= a_trip.id %>
          </td>

          <td>
            <%= a_trip.owner_id %>
          </td>

          <td>
            <%= a_trip.description %>
          </td>

          <td>
            <%= a_trip.arrival_date %>
          </td>

          <td>
            <%= a_trip.departure_date %>
          </td>

          <td>
            <%= a_trip.title %>
          </td>

          <td>
            <%= a_trip.activity_id %>
          </td>

          <td>
            <%= a_trip.published %>
          </td>

          <td>
            <%= time_ago_in_words(a_trip.created_at) %> ago
          </td>
          <td>
            <%= time_ago_in_words(a_trip.updated_at) %> ago
          </td>

          <td>
            <a href="/trips/<%= a_trip.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
